<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="chat">
        <div class="chat-container" id="content"></div>
        <form method="POST" action="/chat" class="chat-input">
            <input id="inputfield" type="text" name="text" placeholder="Type a message...">
            <input id="input" type="submit" value=">">
        </form>
    </div>
    

    <script>
        const content = document.getElementById('content');

        async function renderChatHistory() {
            const url = "/history";
            try {
                const response = await fetch(url);
                if (!response.ok) throw new Error(`Response status: ${response.status}`);

                const chatHistory = await response.json();
                content.innerHTML = "";

                chatHistory.forEach(message => {
                    const messageElement = document.createElement('div');

                    const user = message.role.toString();
                    const user_class = user === 'assistant' ? 'left' : 'right';
                    
                    const messageInfo = document.createElement('div');
                    messageInfo.classList.add('message', 'info', user_class);
                    const imgSrc = `/static/${user}_pfp.png`;
                    messageInfo.innerHTML = `
                        <img class="message pfp" src="${imgSrc}">
                        <div>
                            ${user} <div class="message time">${message.time}</div>
                        </div>
                    `;

                    messageElement.appendChild(messageInfo);

                    const messageContent = document.createElement('div');
                    messageContent.classList.add('message', user_class);

                    const message_content_parsed = user === 'ai' ? marked.parse(message.content) : message.content;

                    messageContent.innerHTML = `
                        <div class="bubble">
                            <div>${message_content_parsed}</div>
                        </div>
                    `;
                    messageElement.appendChild(messageContent);

                    content.appendChild(messageElement);
                });
            } catch (error) {
                console.error(error.message);
            }
        }

        setInterval(renderChatHistory, 2000);
    </script>
</body>
</html>
